<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lvyangai.highopinion">

    <uses-sdk tools:overrideLibrary="com.github.czy1121.loadinglayout" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设备编号权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.homeactivity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".test.TestActivity" />
        <activity
            android:name=".ui.web.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.uppage.UpPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar" />

        <!-- bilibili使用相机必须在AndroidManifest.xml中添加 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/boxing_file_provider" />
        </provider>

        <activity
            android:name=".ui.upvideo.UpVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forget.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reset.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userinfo.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userinfo.UserResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userinfo.PhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.StartPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.userinfo.HoldActivity" />
        <activity android:name=".ui.userinfo.AboutActivity" />
        <activity android:name=".ui.userinfo.AboutOurActivity"></activity>
    </application>

</manifest>